<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WKScan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D326B8981F57E87700C2490E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D326B8B01F57E87800C2490E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D326B8BB1F57E87800C2490E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
